---
import { SEO } from '@wix/seo/components';
import { loadSEOTagsServiceConfig } from '@wix/seo/services';
import AppRouter from "@/components/Router";
import "@wix/wix-vibe-plugins/plugins-vars.css";
import "@wix/wix-vibe-plugins/plugins-theme.css";
import "@/styles/global.css";

const seoTagsServiceConfig = await loadSEOTagsServiceConfig({
  pageUrl: Astro.url.href,
  itemData: {
    pageName: 'Home',
  },
});
---

<html lang="en" class="w-full h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Knife Expertise</title>
    <SEO.Tags seoTagsServiceConfig={seoTagsServiceConfig} slot="seo-tags" />
  </head>
  <body class="w-full h-full">
    <div id="root" class="w-full h-full">
      <AppRouter client:only="react" />
    </div>
  </body>
</html>
